.card-img-top {
    width: 100%;
    height: 50%; /* Ajusta este valor según tus necesidades */
  }
  .card {
    height: 100%;
  }
  .card-body {
    display: flex;
    flex-direction: column;
  }
  
  .footer{
    padding-top: 5%;
    align-items: center;
    text-align: center;
  }